/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
    clear: both;
}
/* styles */

html, body {
    height: 100%;
    width: 100%;
    color: black;
    font-family: Roboto;
    background-color: #f5f5f5;
    font-size: 14px;
}
header, h1, h2, h3, h4, h5 {
    font-family: RobotoSlab;
    font-weight: bold;
    margin-bottom: 1em;
}

.timesheet h1, .timesheet h2, .timesheet h3, .timesheet h4, .timesheet h5 {
    color: #000000;
}
p {
    margin: .5em 0 .5em 0;
    line-height: 1.3;
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
header {
    background-color: darkorange;
    padding: 0 10px 0 10px;
    line-height: 50px;
    color: white;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
section, aside {
    padding-top: 26pz;
}
section {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
article {
    margin-bottom: 15px;
}
.logo {
    font-size: 26px;
    width: 50%;
    float: left;
}
.controls {
    float: right;
    box-sizing: border-box;
    text-align: right;
    display:inline;
    border-radius: 5px;
}
.controls button {
    display: inline;
    padding:2px 5px 4px 5px;
    border: 0px;
    background-color:black;
    color: white;
    background-color: rgba(0,0,0,0.20);
    margin: -4px;
    font-size:18px;
}

#controls_button_right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#controls_button_left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.controls input {
    background-color: rgba(0,0,0,0.10);
    border: none;
    padding: 5px 0 5px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: RobotoSlab;
    width: 150px;
}
#clock {
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 80px;
    margin: 15px 0 15px 0;
}    
section button {
    line-height: 2em;
    border-radius: 5px;
    border: 0px;
    font-family: RobotoSlab;
    color: white;
    font-size: 14px;
    padding: 0 15px 0 15px;
    box-shadow: 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
button.button_pos {
    background-color: darkorange;
}
button.button_neg {
    background-color: rgba(0,0,0,.6);
}
button.button_add {
    background-color: rgba(0,0,0,.1);
    padding: 6px;
    line-height:initial;
    color: black;
}
aside input {
    width: 45%;
    line-height: 2em;
    background-color: rgba(0,0,0,0.15);
    border: 0px;
    border-bottom: solid 1px darkorange;
    color: white;
    text-align: center;
    font-size: .75em;
}
aside label {
    font-size: .5em;
    width: 5px;
    word-break:break-all;
    display:block;
    float:left;
    text-align: center;
    padding-top:3px;
    margin-right:3px;
    letter-spacing: 5px;
}
form div {
    display: block;
    padding: 3px 0 3px 0;
    position: relative;
}
form div button.button_add {
    position: absolute;
    right: -32px;
    top: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
div.timesheet {
    background-color: white; 
    width: 90%;
    height: 100%;
    margin: 0 auto 0 auto;
    border: solid 1px darkslategray;
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
    rotation: 5 deg;
    box-sizing: border-box;
    padding: 30px;
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

div.timesheet table {
    width: 100%;
    text-align: right;
}

div.timesheet td {
    border-bottom: dotted 1px lightgrey;
    border-right: dotted 1px lightgray;
    padding: 5px;
}

div.timesheet td:first-child {
    text-align: left;
}

div.timesheet td:last-child {
    border-right: none;
}

div.timesheet form input {
    width: 100%;
    box-sizing: border-box;
    display:block;
}