/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
    clear: both;
}
/* styles */

html, body {
    height: 100%;
    width: 100%;
    color: white;
    font-family: Roboto;
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.84) 1%,rgba(0,0,0,0.32) 100%);}
header, h1, h2, h3, h4, h5 {
    font-family: RobotoSlab;
    font-weight: bold;
}
p {
    margin: .5em 0 .5em 0;
    line-height: 1.3;
    font-size: 16px;
}
.bold {
    font-weight: bold;
}
header {
    background-color: darkorange;
    padding: 10px;
    color: white;
    line-height: 26px;
}
section, aside {
    padding-top: 26pz;
}
section {
    width: 60%;
    float: left;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
}
article {
    margin-bottom: 15px;
}
aside {
    width: 40%;
    float: right;
    padding: 20px 20px 20px 40px;
    box-sizing: border-box;
    height: 100%;
    background-color: rgba(0,0,0,0.10);
    box-shadow: inset 21px 1px 13px -5px rgba(0,0,0,0.30);
}
.logo {
    font-size: 26px;
    width: 50%;
    float: left;
}
.controls {
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: right;
}
#clock {
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 80px;
    margin: 15px 0 15px 0;
}    
button {
    line-height: 2em;
    border-radius: 5px;
    border: 0px;
    font-family: RobotoSlab;
    color: white;
    font-size: 14px;
    padding: 0 15px 0 15px;
    box-shadow: 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
button.button_pos {
    background-color: darkorange;
}
button.button_neg {
    background-color: darkslategray;
}
input {
    width: 45%;
    line-height: 2em;
    background-color: rgba(0,0,0,0.15);
    border: 0px;
    border-bottom: solid 1px darkorange;
    color: white;
    text-align: center;
    font-size: .75em;
}
label {
    font-size: .5em;
    width: 5px;
    word-break:break-all;
    display:block;
    float:left;
    text-align: center;
    padding-top:3px;
    margin-right:3px;
    letter-spacing: 5px;
}
form div {
    display: block;
    padding: 3px 0 3px 0;
}